<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/37db2695b8.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/build/styles/style.css' />
  </head>
  <body>
    {{{body}}}

    <section class="page__share">

      <div><a href="./"
        class="social-link"
        title="Home">
        <i class="fa fa-solid fa-house fa-2xl"></i>
      </a></div>

      <div><a href="https://timothymcmack.in"
        target="_blank"
        class="social-link"
        title="Tim's personal site">
        <i class="fa fa-user fa-2xl"></i>
      </a></div>

      <div><a href="https://github.com/timothymcmackin/weather-display"
        target="_blank"
        class="social-link"
        title="Github repo">
        <i class="fab fa-fw fa-github fa-2xl"></i>
      </a></div>

    </section>

  </body>
</html>
